// Colors
// -------------------------------
$white-header-color:          #fff!default;
$gray-header-color:           rgb(240, 240, 240)!default;
$header-bottom-color:         rgb(230,230,230)!default;

$border-color:                #e6e6e6!default;

$main-color:                  rgb(250,110,0)!default;
$item-background-color:       #fff!default;
$sub-item-background-color:   #fafafa!default;
$content-background-color:    #f0f0f0!default;

$black-text-color:            #000!default;
$gray-text-color:             #666!default;
$light-text-color:            #999!default;
$white-text-color:            #fff!default;

// Base
// -------------------------------
$img-path-base:               'http://4008003220.com/';
$img-path-server:             'http://4008003220.com/Public/ng_app/images/201608/';

$header-button-size:          28px!default;
$header-title-size:           18px!default;

$bar-height:                  44px!default;
$tabs-height:                 50px!default;

$ios-statusbar-height:        20px!default;
